#__Generated node modules__
node_modules

#__Transpiled JavaScript Files__
dist/

#__Environment Variables__
.env.development
.env.test
.env.production
.env.docker

#__Visual Studio Code Settings__
.vscode

#__Mac OS Specific files__
.DS_Store

#__TypeORM log files__
ormlogs.log

# TypeDoc files
/docs